<div class="mobile-nav__wrapper">
    <div class="mobile-nav__overlay mobile-nav__toggler"></div>
    <div class="mobile-nav__content">
        <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

        <div class="logo-box">
            <a href="/" aria-label="logo image">
                <img src="/img/logo.png"
                     width="155" alt="" />
            </a>
        </div>
        <div class="mobile-nav__container"></div>
        <ul class="mobile-nav__contact list-unstyled">
            <li>
                <i class="icon-phone-call"></i>
                <a href="mailto:needhelp@packageName__.com">needhelp@zilom.com</a>
            </li>
            <li>
                <i class="icon-letter"></i>
                <a href="tel:666-888-0000">666 888 0000</a>
            </li>
        </ul>
        <div class="mobile-nav__top">
            <div class="mobile-nav__social">
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-facebook-square"></a>
                <a href="#" class="fab fa-pinterest-p"></a>
                <a href="#" class="fab fa-instagram"></a>
            </div>
        </div>
    </div>
</div>



<div class="search-popup">
    <div class="search-popup__overlay search-toggler"></div>
    <div class="search-popup__content">
        <form action="#">
            <label for="search" class="sr-only">search here</label>
            <input type="text" id="search" placeholder="Search Here..." />
            <button type="submit" aria-label="search submit" class="thm-btn2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>

<footer class="footer-one">
    <div class="footer-one__bg" style="background-image: url(/img/backgrounds/footer-v1-bg.jpg);">
    </div>
    <div class="footer-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 wow animated fadeInUp" data-wow-delay="0.3s">
                    <div class="footer-widget__column footer-widget__courses">
                        <h3 class="footer-widget__title">Kurslar</h3>
                        <ul class="footer-widget__courses-list list-unstyled">
                            <li><a href="#">UI/UX Design</a></li>
                            <li><a href="#">WordPress Development</a></li>
                            <li><a href="#">Business Strategy</a></li>
                            <li><a href="#">Software Development</a></li>
                            <li><a href="#">Business English</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4 wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="footer-widget__column footer-widget__links">
                        <h3 class="footer-widget__title">Havolalar</h3>
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="/courses">Kurslar</a></li>
                            <li><a href="/teachers">O'qituvchi</a></li>
                            <li><a href="/contact">Bog'lanish</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Aloqa</h3>
                        <p class="text">Tashkent, Yunusabad</p>
                        <p><a href="mailto:sultonbayevogabek@gmail.com">sultonbayevogabek@gmail.com</a></p>
                        <p class="phone"><a href="tel:+998993421009">99-342-1009</a></p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.9s">
                    <div class="footer-widget__column footer-widget__social-links">
                        <ul class="footer-widget__social-links-list list-unstyled clearfix">
                            <li><a href="https://t.me/abdivaliyevich" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            <li><a href="https://www.instagram.com/rizqim.uz/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>