<footer class="footer-one">
    <div class="footer-one__bg" style="background-image: url(/img/backgrounds/footer-v1-bg.jpg);">
    </div>
    <div class="footer-one__top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 wow animated fadeInUp" data-wow-delay="0.3s">
                    <div class="footer-widget__column footer-widget__courses">
                        <h3 class="footer-widget__title">Kurslar</h3>
                        <ul class="footer-widget__courses-list list-unstyled">
                            <% courses.forEach(course => { %>
                            <li><a href="/courses/<%= course.id %>"><%= course.title %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-4 wow animated fadeInUp" data-wow-delay="0.5s">
                    <div class="footer-widget__column footer-widget__links">
                        <h3 class="footer-widget__title">Havolalar</h3>
                        <ul class="footer-widget__links-list list-unstyled">
                            <li><a href="/courses">Kurslar</a></li>
                            <li><a href="/teachers">O'qituvchi</a></li>
                            <li><a href="/contact">Bog'lanish</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.7s">
                    <div class="footer-widget__column footer-widget__contact">
                        <h3 class="footer-widget__title">Aloqa</h3>
                        <p class="text">Tashkent, Yunusabad</p>
                        <p><a href="mailto:sultonbayevogabek@gmail.com">sultonbayevogabek@gmail.com</a></p>
                        <p class="phone"><a href="tel:+998993421009">99-342-1009</a></p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-6 col-md-6 wow animated fadeInUp" data-wow-delay="0.9s">
                    <div class="footer-widget__column footer-widget__social-links">
                        <ul class="footer-widget__social-links-list list-unstyled clearfix">
                            <li><a href="https://t.me/abdivaliyevich" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            <li><a href="https://www.instagram.com/rizqim.uz/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>