<header class="main-header main-header--one  clearfix">
    <div class="main-header-one__bottom clearfix">
        <div class="container">
            <div class="main-header-one__bottom-inner clearfix">
                <nav class="main-menu main-menu--1">
                    <div class="main-menu__inner">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <div class="left">
                            <ul class="main-menu__list">
                                <li>
                                    <a href="/courses">Kurslar</a>
                                </li>
                                <li>
                                    <a href="/teachers"> O'qituvchilar</a>
                                </li>
                                <li>
                                    <a href="/contact">Aloqa</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="main-menu__right">
                                <div class="main-menu__right-cart-search">
                                    <div class="main-menu__right-search-box">
                                        <a href="#" class="thm-btn search-toggler">Qidirish</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>