<%- include('parts/header') %>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4 pt-5">
            <form method="post" action="/auth">
                <label for="password">Parol</label>
                <input class="form-control" type="password" id="password" name="password">
            </form>
        </div>
    </div>
</div>
<%- include('parts/footer') %>