<%- include('parts/header') %>
<%- include('components/navbar') %>

<section class="page-header clearfix" style="background-image: url(/img/backgrounds/page-header-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-header__wrapper clearfix">
                    <div class="page-header__title">
                        <h2>Kurslar</h2>
                    </div>
                    <div class="page-header__menu">
                        <ul class="page-header__menu-list list-unstyled clearfix">
                            <li class="active">Barcha kurslar</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="courses-one courses-one--courses">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">Mavjud kurslar</h2>
        </div>

        <div class="row filter-layout masonary-layout">
            <!--Start Single Courses One-->
            <div class="col-xl-3 col-lg-6 col-md-6 filter-item development business">
                <div class="courses-one__single wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                    <div class="courses-one__single-img">
                        <img src="https://picsum.photos/270/200?rand=1" alt=""/>
                        <div class="overlay-text">
                            <p>Featured</p>
                        </div>
                    </div>
                    <div class="courses-one__single-content">
                        <div class="courses-one__single-content-overlay-img">
                            <img src="https://i.pravatar.cc/29?img=2" alt=""/>
                        </div>
                        <h6 class="courses-one__single-content-name">Kevin Martin</h6>
                        <h4 class="courses-one__single-content-title"><a href="course-details.html">Become a React Developer</a></h4>
                        <div class="courses-one__single-content-review-box">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="rateing-box">
                                <span>(4)</span>
                            </div>
                        </div>
                        <p class="courses-one__single-content-price">$30.00</p>
                        <ul class="courses-one__single-content-courses-info list-unstyled">
                            <li>2 Lessons</li>
                            <li>10 Hours</li>
                            <li>Beginner</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Single Courses One-->

            <!--Start Single Courses One-->
            <div class="col-xl-3 col-lg-6 col-md-6 filter-item development business featured">
                <div class="courses-one__single wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1000ms">
                    <div class="courses-one__single-img">
                        <img src="https://picsum.photos/270/200?rand=2" alt=""/>
                        <div class="overlay-text">
                            <p>free</p>
                        </div>
                    </div>
                    <div class="courses-one__single-content">
                        <div class="courses-one__single-content-overlay-img">
                            <img src="https://i.pravatar.cc/29?img=3" alt=""/>
                        </div>
                        <h6 class="courses-one__single-content-name">Christine Eve</h6>
                        <h4 class="courses-one__single-content-title"><a href="course-details.html">Become a React Developer</a></h4>
                        <div class="courses-one__single-content-review-box">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <div class="rateing-box">
                                <span>(4)</span>
                            </div>
                        </div>
                        <p class="courses-one__single-content-price">$30.00</p>
                        <ul class="courses-one__single-content-courses-info list-unstyled">
                            <li>2 Lessons</li>
                            <li>10 Hours</li>
                            <li>Beginner</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('components/footer') %>
<%- include('parts/footer') %>