<%- include('parts/header') %>
<%- include('components/navbar') %>

<section class="course-details">
    <div class="container">
        <div class="row">
            <!--Start Course Details Content-->
            <div class="col-xl-8 col-lg-8">
                <div class="course-details__content">
                    <!--Start Single Courses One-->
                    <div class="courses-one__single style2 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="courses-one__single-img">
                            <img src="assets/images/resources/course-details-img1.jpg" alt=""/>
                            <div class="overlay-text">
                                <p>Featured</p>
                            </div>
                        </div>
                        <div class="courses-one__single-content">
                            <div class="courses-one__single-content-overlay-img">
                                <img src="assets/images/resources/course-details-overlay-img.png" alt=""/>
                            </div>
                            <h6 class="courses-one__single-content-name">Kevin Martin <span>Recently Updated 20 June, 2021</span></h6>
                            <h4 class="courses-one__single-content-title">Become a React Developer</h4>
                            <div class="courses-one__single-content-review-box">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <div class="rateing-box">
                                    <span>(4)</span>
                                </div>
                            </div>
                            <div class="course-details__content-text1">
                                <p>Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            </div>

                            <div class="course-details__content-text2">
                                <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of lorem ipsum amet finibus eros.  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.</p>
                            </div>

                            <div class="course-details__content-list">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>It has survived not only five centuries</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>Lorem Ipsum is simply dummy text of the new design</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>Printng and type setting ipsum</p>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="icon">
                                            <span class="icon-confirmation"></span>
                                        </div>
                                        <div class="text">
                                            <p>Take a look at our round up of the best shows</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!--End Single Courses One-->

                    <!--Start Course Details Curriculum-->
                    <div class="course-details__curriculum">
                        <h2 class="course-details__curriculum-title">Curriculum</h2>
                        <!--Start Single Course Details Curriculum-->
                        <div class="course-details__curriculum-single">
                            <h3 class="course-details__curriculum-single-title">Starting Beginners Level Course</h3>
                            <p class="course-details__curriculum-single-text">Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since.</p>
                            <ul class="course-details__curriculum-list list-unstyled">
                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Introduction to Editing</a>
                                        <span>Preview</span>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p>16 minutes</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Overview of Editing</a>
                                        <span>Preview</span>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p>10 minutes</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Basic Editing Technology</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon style2">
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Quiz</a>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p>6 questions</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--End Single Course Details Curriculum-->

                        <!--Start Single Course Details Curriculum-->
                        <div class="course-details__curriculum-single mar-buttom0">
                            <h3 class="course-details__curriculum-single-title">Intermediate Level Course</h3>
                            <p class="course-details__curriculum-single-text">Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since.</p>
                            <ul class="course-details__curriculum-list style2 list-unstyled">
                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Introduction to Editing</a>
                                        <span>Preview</span>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p>16 minutes</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon">
                                            <i class="fa fa-folder" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Introduction to Editing</a>
                                    </div>
                                </li>

                                <li>
                                    <div class="course-details__curriculum-list-left">
                                        <div class="course-details__curriculum-list-left-icon style2">
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                        </div>
                                        <a href="#" class="course-details__curriculum-list-left-title">Quiz</a>
                                    </div>
                                    <div class="course-details__curriculum-list-right">
                                        <p>6 questions</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--End Single Course Details Curriculum-->
                    </div>
                    <!--End Course Details Curriculum-->

                    <!--Start Course Details Reviews-->
                    <div class="course-details__reviews">
                        <h3 class="course-details__reviews-title">Reviews</h3>
                        <div class="course-details__progress-review">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7 col-md-7">
                                    <div class="course-details__progress clearfix">
                                        <div class="course-details__progress-item">
                                            <p class="course-details__progress-text">Excellent</p>
                                            <div class="course-details__progress-bar">
                                                <span style="width: 90%;"></span>
                                            </div>
                                            <p class="course-details__progress-count">2</p>
                                        </div>

                                        <div class="course-details__progress-item">
                                            <p class="course-details__progress-text">Very Good</p>
                                            <div class="course-details__progress-bar">
                                                <span style="width: 80%;"></span>
                                            </div>
                                            <p class="course-details__progress-count">1</p>
                                        </div>

                                        <div class="course-details__progress-item">
                                            <p class="course-details__progress-text">Average</p>
                                            <div class="course-details__progress-bar">
                                                <span style="width: 70%;"></span>
                                            </div>
                                            <p class="course-details__progress-count">1</p>
                                        </div>

                                        <div class="course-details__progress-item">
                                            <p class="course-details__progress-text">Poor</p>
                                            <div class="course-details__progress-bar">
                                                <span style="width: 0%;" class="no-bubble"></span>
                                            </div>
                                            <p class="course-details__progress-count">0</p>
                                        </div>

                                        <div class="course-details__progress-item">
                                            <p class="course-details__progress-text">Terrible</p>
                                            <div class="course-details__progress-bar">
                                                <span style="width: 0%;" class="no-bubble"></span>
                                            </div>
                                            <p class="course-details__progress-count">0</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-5 col-lg-5 col-md-5">
                                    <div class="course-details__review-box">
                                        <h2 class="course-details__review-count">4.6</h2>
                                        <div class="course-details__review-stars">
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                        </div>
                                        <p class="course-details__review-text">30 reviews</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Start Course Details Comment-->
                        <div class="course-details__comment">
                            <div class="course-details__comment-single">
                                <div class="course-details__comment-img">
                                    <img src="assets/images/resources/course-details-comment-img1.png" alt=""/>
                                </div>
                                <div class="course-details__comment-text">
                                    <div class="course-details__comment-text-top">
                                        <h3 class="course-details__comment-text-name">David Marks</h3>
                                        <p>3 hours ago</p>
                                        <div class="course-details__comment-review-stars">
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                        </div>
                                    </div>
                                    <p class="course-details__comment-text-bottom">Cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum lightly believable. If you are going to use a of you need to be sure there.</p>
                                </div>
                            </div>

                            <div class="course-details__comment-single">
                                <div class="course-details__comment-img">
                                    <img src="assets/images/resources/course-details-comment-img2.png" alt=""/>
                                </div>
                                <div class="course-details__comment-text">
                                    <div class="course-details__comment-text-top">
                                        <h3 class="course-details__comment-text-name">Christine Eve</h3>
                                        <p>3 hours ago</p>
                                        <div class="course-details__comment-review-stars">
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                            <i class="fas fa-star"></i><!-- /.fas fa-star -->
                                        </div>
                                    </div>
                                    <p class="course-details__comment-text-bottom">Cursus massa at urnaaculis estie. Sed aliquamellus vitae ultrs condmentum lightly believable. If you are going to use a of you need to be sure there.</p>
                                </div>
                            </div>
                        </div>
                        <!--End Course Details Comment-->

                        <div class="course-details__add-review">
                            <h2 class="course-details__add-review-title">Add a Review</h2>
                            <p class="course-details__add-review-text">
                                Rate this Course?
                                <a href="#" class="fas fa-star active pd-left"></a>
                                <a href="#" class="fas fa-star active"></a>
                                <a href="#" class="fas fa-star active"></a>
                                <a href="#" class="fas fa-star"></a>
                                <a href="#" class="fas fa-star"></a>
                            </p>

                            <div class="course-details__add-review-form">
                                <form action="assets/inc/sendemail.php" class="comment-one__form contact-form-validated" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="comment-form__input-box">
                                                <input type="text" placeholder="Your name" name="name">
                                            </div>
                                            <div class="comment-form__input-box">
                                                <input type="email" placeholder="Email address" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12">
                                            <div class="comment-form__input-box">
                                                <textarea name="message" placeholder="Write message"></textarea>
                                            </div>
                                            <button type="submit" class="thm-btn comment-form__btn">Submit review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--End Course Details Reviews-->
                </div>
            </div>
            <!--End Course Details Content-->

            <!--Start Course Details Sidebar-->
            <div class="col-xl-4 col-lg-4">
                <div class="course-details__sidebar">
                    <div class="course-details__price wow fadeInUp animated" data-wow-delay="0.1s">
                        <h2 class="course-details__price-amount">$30.00<span><del>$60.00</del></span></h2>
                        <div class="course-details__price-btn">
                            <a href="about.html" class="thm-btn">Buy this course</a>
                        </div>
                    </div>

                    <div class="course-details__sidebar-meta wow fadeInUp animated" data-wow-delay="0.3s">
                        <ul class="course-details__sidebar-meta-list list-unstyled">
                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-clock"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Durations:<span>10 hours</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-folder-open"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Lectures:<span>6</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-user-circle"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Students:<span> Max 6</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="fas fa-play"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Video:<span>8 hours</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-flag"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Skill Level:<span>Advanced</span></a></p>
                                </div>
                            </li>

                            <li class="course-details__sidebar-meta-list-item">
                                <div class="icon">
                                    <a href=""><i class="far fa-bell"></i></a>
                                </div>
                                <div class="text">
                                    <p><a href="#">Language:<span>English</span></a></p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="course-details__new-courses wow fadeInUp animated" data-wow-delay="0.5s">
                        <h3 class="course-details__new-courses-title">New Courses</h3>
                        <ul class="course-details__new-courses-list list-unstyled">
                            <li class="course-details__new-courses-list-item">
                                <div class="course-details__new-courses-list-item-img">
                                    <img src="assets/images/resources/course-details-sidebar-img1.png" alt=""/>
                                </div>
                                <div class="course-details__new-courses-list-item-content">
                                    <h4 class="course-details__new-courses-list-item-content-title"><a href="#">React – The Complete <br>Instruction</a></h4>
                                    <div class="course-details__new-courses-rateing-box">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="course-details__new-courses-rateing-count">
                                            <span>(4)</span>
                                        </div>
                                    </div>
                                    <p class="course-details__new-courses-price">$30.00</p>
                                </div>
                            </li>

                            <li class="course-details__new-courses-list-item">
                                <div class="course-details__new-courses-list-item-img">
                                    <img src="assets/images/resources/course-details-sidebar-img2.png" alt=""/>
                                </div>
                                <div class="course-details__new-courses-list-item-content">
                                    <h4 class="course-details__new-courses-list-item-content-title"><a href="#">React – The Complete <br>Instruction</a></h4>
                                    <div class="course-details__new-courses-rateing-box">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="course-details__new-courses-rateing-count">
                                            <span>(4)</span>
                                        </div>
                                    </div>
                                    <p class="course-details__new-courses-price">$30.00</p>
                                </div>
                            </li>

                            <li class="course-details__new-courses-list-item">
                                <div class="course-details__new-courses-list-item-img">
                                    <img src="assets/images/resources/course-details-sidebar-img3.png" alt=""/>
                                </div>
                                <div class="course-details__new-courses-list-item-content">
                                    <h4 class="course-details__new-courses-list-item-content-title"><a href="#">React – The Complete <br>Instruction</a></h4>
                                    <div class="course-details__new-courses-rateing-box">
                                        <ul class="list-unstyled">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                        <div class="course-details__new-courses-rateing-count">
                                            <span>(4)</span>
                                        </div>
                                    </div>
                                    <p class="course-details__new-courses-price">$30.00</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Course Details Sidebar-->
        </div>
    </div>
</section>


<%- include('components/footer') %>
<%- include('parts/footer') %>