<!--<script src=/js/jquery-3.5.1.min.js"></script>-->
<!--<script src="/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="/js/jarallax.min.js"></script>-->
<!--<script src="/js/jquery.ajaxchimp.min.js"></script>-->
<!--<script src="/js/jquery.appear.min.js"></script>-->
<!--<script src="/js/jquery.circle-progress.min.js"></script>-->
<!--<script src="/js/jquery.magnific-popup.min.js"></script>-->
<!--<script src="/js/jquery.validate.min.js"></script>-->
<!--<script src="/js/nouislider.min.js"></script>-->
<!--<script src="/js/odometer.min.js"></script>-->
<!--<script src="/js/swiper.min.js"></script>-->
<!--<script src="/js/tiny-slider.min.js"></script>-->
<!--<script src="/js/wNumb.min.js"></script>-->
<!--<script src="/js/wow.js"></script>-->
<!--<script src="/js/isotope.js"></script>-->
<!--<script src="/js/countdown.min.js"></script>-->
<!--<script src="/js/owl.carousel.min.js"></script>-->
<!--<script src="/js/twentytwenty.js"></script>-->
<!--<script src="/js/jquery.event.move.js"></script>-->
<!--<script src="/js/parallax.min.js"></script>-->
<!--<script src="http://maps.google.com/maps/api/js?key=AIzaSyATY4Rxc8jNvDpsK8ZetC7JyN4PFVYGCGM"></script>-->
<!--<script src="/js/zilom.js"></script>-->
<script src="/js/preloader.js"></script>
</body>
</html>